:root {
    --Lightred: hsl(0, 100%, 67%);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);


    /*Gradients*/
    /*(background)*/
    --Lightslateblue: hsl(252, 100%, 67%);
    --Lightroyalblue: hsl(241, 81%, 54%);
    /*(circle)*/
    --Violetblue: hsla(256, 72%, 46%, 1);
    --Persianblue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);

    /* fonts */
    --font: "Hanken Grotesk", sans-serif;
}

/*hacks y globales*/
html {
    font-size: 62.5%;
    /* 1 rem = 10px */
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /*Hack para box model*/
}

body {
    font-family: var(--font);
    margin: 0;
}

img {
    width: 100%;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
}

h3 {
    font-size: 2.3rem;
    font-weight: 500;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

/* ----- Main ----- */

.container {
    width: min(90%, 120rem);
    height: 95vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80rem;
    height: 50rem;
    display: grid;
    grid-template-columns: 40% 60%;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    border-radius: 3rem;
    padding: 3rem;
    color: var(--White);
    background-image: linear-gradient(var(--Lightslateblue) 0%, var(--Lightroyalblue) 100%);
}

.rigth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    border-radius: 3rem;
    padding: 3rem;
}

